<!DOCTYPE html>
<html>
<head>
    <title>Users table</title>
</head>
    <body>
        <table>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>E-mail</th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td>
				<form action="/del-user/{{user.id}}" method="post">
					<input type="hidden" name="_METHOD" value="DELETE"/>
					<input type="submit" value="Delete user"/>
				</form>
			</td>
			<td>
				<form action="/edit-user/{{user.id}}" method="post">
					<input type="hidden" name="_METHOD" value="PATCH"/>
					<input type="submit" value="Edit user"/>
				</form>
			</td>
		</tr>
		{% endfor %}
		</table>
        <p style="color: red">{{ error_message }}</p>
    </body>
</html>
